{% liquid 
  # KS Bundle Builder
  # © 2024 KondaSoft
  # https://www.kondasoft.com
%}


{% liquid 
%}

{%- style -%}
  .collection {
    display: flex;
  }
  
  #product-grid {
    width: 75%;
  }

  .quick-add-modal product-form {
    opacity: .2;
  }

  .quick-add-modal .shopify-payment-button {
    display: none !important;
  }

  .quick-add-modal button:disabled {
    opacity: .5 !important;
  }

  #ks-bundle-card {
    --bs-progress-height: 8px;
    flex: 1;
    margin: 2rem 0 0 2rem;
  }

  #ks-bundle-card .ks-inner-content {
    background: transparent;
    border: 1px solid rgba(var(--color-foreground), 1);
    padding: 1.5rem 2rem;
    position: sticky;
    top: 1.5rem;
    border-radius: var(--product-card-corner-radius);
    transition: all .15s ease-out;
  }

  #ks-bundle-card .title {
    padding-bottom: 1rem;
    margin: 0 0 1.25rem;
    border-bottom: 1px solid rgba(var(--color-foreground), .1);
  }

  #ks-bundle-card .progress-wrapper {
    padding-top: 3.5rem;
  }

  #ks-bundle-card ul.progress-tiers {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: -3.5rem 0 0;
    padding: 0 0 3.5rem;
    font-weight: 500;
  }

  #ks-bundle-card ul.progress-tiers li {
    position: absolute;
    transform: translate(-50%);
    text-align: center;
    line-height: 1.05;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #ks-bundle-card ul.progress-tiers li:last-child {
    transform: translate(-80%);
  }

  #ks-bundle-card ul.progress-tiers li:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 1px;
    height: var(--bs-progress-height);
    background-color: rgba(var(--color-foreground), .5);
  }

  #ks-bundle-card ul.progress-tiers li small {
    opacity: .75;
  }

  #ks-bundle-card .progress-text {
    text-align: center;
    margin: 0.3rem 0 1rem;
    font-size: .9em;
  }

  /* Bootstrap Progress */
  .progress {
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    border-radius: 50rem;
    background-color: rgba(var(--color-foreground), 0.05);
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    transition: var(--bs-progress-bar-transition);
  }

  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }

  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: var(--bs-progress-height) var(--bs-progress-height);
  }

  .progress-bar-animated {
    animation: 1s linear infinite progress-bar-stripes;
  }

  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      animation: none;
    }
  }

  @keyframes progress-bar-stripes {
    0% { background-position-x: 1rem; }
  }

{%- endstyle -%}

<script>
window.ks_bundle_builder = {
  max_tier_goal: {{ section.blocks.last.settings.goal | times: 100 }},
  tiers: [
    {% for block in section.blocks %}
      {% if block.type == 'tier' %}
        { goal: {{ block.settings.goal | times: 100 }}, discount: {{ block.settings.discount }} },
      {% endif %}
    {%  endfor %}
  ],
  text: {
    add_to_bundle: '{{ section.settings.text_add_to_bundle }}',
    added_to_bundle: '{{ section.settings.text_added_to_bundle }}',
  }
}
</script>

{%- javascript -%}
  const injectElements = () => {
    const productGrid = document.querySelector('#product-grid')
    const bundleCard = document.querySelector('#ks-bundle-card')

    productGrid.insertAdjacentElement('afterend', bundleCard)
  }
  injectElements()
  
  const adjustProductForms = () => {  
    document.querySelectorAll('.collection product-form').forEach(productForm => {
      var newProductForm = document.createElement('ks-bundle-product-form')
      newProductForm.innerHTML = productForm.innerHTML

      productForm.parentNode.replaceChild(newProductForm, productForm)
    })
  }
  adjustProductForms()

  const adjustQuickViewContents = () => {
    const quickAddModal = document.querySelector('quick-add-modal')
      
      const observer = new MutationObserver((mutations) => { 
        setTimeout(() => {
          const productForm = quickAddModal.querySelector('product-form')
          if (!productForm) return

          var newProductForm = document.createElement('ks-bundle-product-form')
          newProductForm.innerHTML = productForm.innerHTML

          productForm.parentNode.replaceChild(newProductForm, productForm)
        }, 500)
      })

      observer.observe(quickAddModal, { 
        attributes: true
      });
  }
  adjustQuickViewContents()

  const reInitAfterAjaxLoad = () => {
    const wrapper = document.querySelector('.collection')

    const observer = new MutationObserver(async (mutations) => { 
      console.log('mutation-observer')
      const respoonse = await fetch(window.location.href)
      const text = await respoonse.text()
      const newDocument = new DOMParser().parseFromString(text, 'text/html')

      document.querySelector('#ks-bundle-builder-hidden')
        .replaceWith(newDocument.querySelector('#ks-bundle-builder-hidden'))
        
      injectElements()
      reInitAfterAjaxLoad()
    })

    observer.observe(wrapper, { 
      attributes: true,
      childList: true,
    });
  }
  reInitAfterAjaxLoad()

  class KsBundleProductForm extends HTMLElement {
    constructor () {
      super()

      setTimeout(() => {
        this.form = this.querySelector('form')
        this.btn = this.querySelector('button[name="add"]')
        this.quickAddModal = this.closest('.quick-add-modal')

        this.form.addEventListener('submit', this.onSubmit.bind(this))
        this.adjustBtn()
        this.handleVariantChange()
      }, 50)
    }

    adjustBtn () {
      if (!this.btn.disabled) {
        this.btn.querySelector('span').textContent = window.ks_bundle_builder.text.add_to_bundle
      }
    }

    handleVariantChange () {
      if (this.quickAddModal) {
        this.quickAddModal.querySelectorAll('variant-selects input').forEach(input => {
          input.addEventListener('change', () => {
            this.btn.style.opacity = '.1'

            setTimeout(() => {
              this.adjustBtn()
              this.btn.style.opacity = '1'
            }, 500)
          })
        })
      }
    }

    async onSubmit (event) {
      event.preventDefault()
         
      this.btn.classList.add('loading')
      this.btn.querySelector('.loading__spinner').classList.remove('hidden') 

      const variantId = Number(this.form.querySelector('[name="id"]').value)

      const bundleContents = JSON.parse(localStorage.getItem('ks-bundle-contents')) || []

      const isInBundleContents = bundleContents.some((item) => item.variant_id === variantId)

      let qty = 1

      if (this.quickAddModal) {
        const qtyFeield = this.quickAddModal.querySelector('input[name="quantity"]')
        console.log(qtyFeield.value)

        if (qtyFeield) {
          qty = Number(qtyFeield.value)
        }
      }

      if (isInBundleContents) {
        bundleContents.map(item => {
          if (item.variant_id === variantId) {
            item.quantity += qty
          }
          return item
        })
      } else {
        let productLink 
      
        if (this.quickAddModal) {
          productLink = this.closest('.product').querySelector('a[href*="products"]').getAttribute('href') 
        } else {
          productLink = this.closest('.card').querySelector('a[href*="products"]').getAttribute('href') 
        }

        const response = await fetch(`${productLink}.js`)
        const product = await response.json()
        console.log(product)

        const variant = product.variants.find(variant => variant.id === variantId)
        console.log(variant)

        bundleContents.push({
          product_id: product.id,
          product_handle: product.handle,
          product_title: product.title,
          product_image: product.featured_image,
          variant_id: variant.id,
          variant_title: variant.title,
          variant_price: variant.price, 
          variant_compare_at_price: variant.compare_at_price,
          variant_image: variant.featured_image ? variant.featured_image.src : null,
          quantity: qty
        })
      }

      console.log(bundleContents)

      localStorage.setItem('ks-bundle-contents', JSON.stringify(bundleContents))

      this.btn.querySelector('span').textContent = window.ks_bundle_builder.text.added_to_bundle
      this.btn.classList.remove('loading')
      this.btn.querySelector('.loading__spinner').classList.add('hidden') 
      
      window.dispatchEvent(new CustomEvent('ks_bundle_builder_add_to_bundle'))

      setTimeout(() => {
        this.quickAddModal?.hide()
      }, 1000)

      setTimeout(() => {
        this.btn.querySelector('span').textContent = window.ks_bundle_builder.text.add_to_bundle

        this.quickAddModal?.hide()
      }, 2000)
    }
  }
  customElements.define('ks-bundle-product-form', KsBundleProductForm)

  class KsBundleCard extends HTMLElement {
    constructor () {
      super ()
  
      this.updateContents()
      this.fixStickyPosition()

      window.addEventListener('ks_bundle_builder_add_to_bundle', () => {
        this.updateContents()
      })
    }

    getTotalPrice () {
      const bundleContents = JSON.parse(localStorage.getItem('ks-bundle-contents')) || []

      return bundleContents.reduce((accumulator, currentValue) =>
        (currentValue.variant_price * currentValue.quantity) + accumulator, 0)
    }

    updateContents () {
      const totalPrice = this.getTotalPrice()
      const progressBar = this.querySelector('.progress-bar') 
      const progressText = this.querySelector('.progress-text') 
      const tiers = window.ks_bundle_builder.tiers
      const maxTierGoal = window.ks_bundle_builder.max_tier_goal
      let progressWidth = Math.round(totalPrice / maxTierGoal * 100)

      if (progressWidth > 100) progressWidth = 100
      
      setTimeout(() => {
        progressBar.style.width = `${progressWidth}%`

        if (progressWidth >= 100) {
          progressBar.style.backgroundColor = progressBar.dataset.colorCompleted
        } else {
          progressBar.style.backgroundColor = progressBar.dataset.colorNotCompleted 
        }
      }, 200)

      if (totalPrice <= maxTierGoal) {
        const tier = tiers.find(elem => elem.goal > totalPrice)
        const remaining = this.formatMoney(tier.goal - totalPrice).replace('.00', '')
        const discount = tier.discount + '%' 
        let textUncompleted = progressText.dataset.textUncompleted
        textUncompleted = textUncompleted.replace('[value]', `<b>${remaining}</b>`)
        textUncompleted = textUncompleted.replace('[discount]', `<b>${discount}</b>`)
        progressText.innerHTML = textUncompleted
        progressText.style.color = ''
      } else {
        const discount = tiers[tiers.length - 1].discount + '%'

        let textCompleted = progressText.dataset.textCompleted
        textCompleted = textCompleted.replace('[discount]', `<b>${discount}</b>`)
        progressText.innerHTML = textCompleted
        progressText.style.color = progressBar.dataset.colorCompleted
      }
    }

    fixStickyPosition () {
      const elem = this.querySelector('.ks-inner-content')
      let oldScroll = window.scrollY

      window.addEventListener('scroll', (event) => {
        if (!document.querySelector('.shopify-section-header-sticky')) return
  
        const newScroll = window.scrollY

        if (newScroll > oldScroll) {
          elem.style.top = '1.5rem'
        } else if (newScroll < oldScroll) {
          elem.style.top = 'calc(var(--header-height) + 1.5rem)'
        }

        oldScroll = Math.max(window.scrollY, 0)
      })
    }

    formatMoney (cents, moneyFormat = this.dataset.moneyFormat) {
      if (typeof cents === 'string') {
        cents = cents.replace('.', '')
      }

      let value = ''
      const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/

      function defaultOption (opt, def) {
        return (typeof opt === 'undefined' ? def : opt)
      }

      function formatWithDelimiters (number, precision, thousands, decimal) {
        precision = defaultOption(precision, 2)
        thousands = defaultOption(thousands, ',')
        decimal = defaultOption(decimal, '.')

        if (isNaN(number) || number == null) {
          return 0
        }

        number = (number / 100.0).toFixed(precision)

        const parts = number.split('.')
        const dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands)
        const cents = parts[1] ? (decimal + parts[1]) : ''

        return dollars + cents
      }

      switch (moneyFormat.match(placeholderRegex)[1]) {
      case 'amount':
        value = formatWithDelimiters(cents, 2)
        break
      case 'amount_no_decimals':
        value = formatWithDelimiters(cents, 0)
        break
      case 'amount_with_comma_separator':
        value = formatWithDelimiters(cents, 2, '.', ',')
        break
      case 'amount_no_decimals_with_comma_separator':
        value = formatWithDelimiters(cents, 0, '.', ',')
        break
      }

      return moneyFormat.replace(placeholderRegex, value)
    }
  }
  customElements.define('ks-bundle-card', KsBundleCard)

{%- endjavascript -%}

<div 
  id="ks-bundle-builder-hidden"
  hidden>
  
  <ks-bundle-card 
    id="ks-bundle-card"
    data-money-format="{{ shop.money_format }}">
    <div class="ks-inner-content">
      <h2 class="title inline-richtext {{ section.settings.card_title_size }}">
        {{ section.settings.card_title }}
      </h2>
      <div class="progress-wrapper">
        <ul class="progress-tiers" aria-hidden="true">
          {% for block in section.blocks %}
            {% liquid
              assign max_tier_goal = section.blocks.last.settings.goal
              assign tier_left = max_tier_goal | minus: block.settings.goal | minus: max_tier_goal | remove: '-' | times: 100 | divided_by: max_tier_goal | round | append: '%' 
            %}
            {% if block.type == 'tier' %}
              <li style="left: {{ tier_left }}">
                {{ block.settings.goal | times: 100 | money_without_trailing_zeros }}
                <small>
                  {{ block.settings.discount | prepend: '-' | append: '%' }}
                </small>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div 
          class="progress"  
          role="progressbar"
          aria-hidden="true">
          <div 
            class="progress-bar progress-bar-striped progress-bar-animated" 
            data-color-not-completed="{{ section.settings.progress_color_not_completed }}"
            data-color-completed="{{ section.settings.progress_color_completed }}"
            style="width: 0%;">
          </div>
        </div>
        <p 
          class="progress-text" 
          data-text-uncompleted="{{ section.settings.text_progress_uncompleted }}" 
          data-text-completed="{{ section.settings.text_progress_completed }}">
        </p>
        <button
          class="btn-bundle-checkout button button--full-width" 
          type="button"
          disabled>
          {{ section.settings.text_add_to_cart }}
        </button>
      </div>
    </div>
  </ks-bundle-card>

</div>

{% schema %}
{
  "name": "KS - Bundle Builder",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Bundle Card"
    },
    {
      "type": "inline_richtext",
      "id": "card_title",
      "label": "Title",
      "default": "My Bundle"
    },
    {
      "type": "select",
      "id": "card_title_size",
      "label": "Heading size",
      "options": [
        { "value": "h3", "label": "Small" },
        { "value": "h2", "label": "Medium" }
      ],
      "default": "h2"
    },
    {
      "type": "color",
      "id": "progress_color_not_completed",
      "label": "Progress color - not completed",
      "default": "#ffc107"
    },
    {
      "type": "color",
      "id": "progress_color_completed",
      "label": "Progress color - Completed",
      "default": "#198754"
    },
    {
      "type": "header",
      "content": "Translation"
    },
    {
      "type": "text",
      "id": "text_add_to_bundle",
      "label": "Add to bundle",
      "default": "Add to bundle"
    },
    {
      "type": "text",
      "id": "text_added_to_bundle",
      "label": "Added to bundle",
      "default": "✓ Added!"
    },
    {
      "type": "text",
      "id": "text_progress_uncompleted",
      "label": "Progress - uncompleted",
      "default": "Add [value] to save [discount]"
    },
    {
      "type": "text",
      "id": "text_progress_completed",
      "label": "Progress - completed",
      "default": "Congrats! You're eligible for [discount] off!"
    },
    {
      "type": "text",
      "id": "text_add_to_cart",
      "label": "Add to cart",
      "default": "Add to cart"
    }
  ],
  "blocks": [
    {
      "type": "tier",
      "name": "Tier",
      "settings": [
        {
          "type": "text",
          "id": "goal",
          "label": "Goal"
        },
        {
          "type": "range",
          "id": "discount",
          "label": "Discount",
          "min": 0,
          "max": 100,
          "default": 0,
          "unit": "%"
        }
      ]
    }
  ],
  "templates": ["collection"],
  "presets": [
    {
      "name": "KS - Bundle Builder",
      "blocks": [
        {
          "type": "tier",
          "settings": {
            "goal": "100",
            "discount": 10
          }
        },
        {
          "type": "tier",
          "settings": {
            "goal": "200",
            "discount": 20
          }
        },
        {
          "type": "tier",
          "settings": {
            "goal": "300",
            "discount": 30
          }
        }
      ]
    }
  ]
}
{% endschema %}
